body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  color: #ffffff;
  font-size: wrem;
} 
.h2, h5 {
  font-size: 2rem; /* Daha büyük boyut */
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(90deg, 
    rgb(64, 200, 255), /* Daha parlak mavi */
    rgb(255, 150, 50), /* Parlak turuncu */
    rgb(64, 200, 255), /* Mavi tekrar */
    rgb(0, 255, 100),  /* Parlak yeşil */
    rgb(64, 200, 255)  /* Mavi tekrar */
  );
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 20px;
}
p {
  font-size: 1.2rem; /* Daha büyük font boyutu */
  font-weight: 600; /* Kalın font */
  line-height: 1.5; /* Daha rahat okunabilirlik */
  margin-bottom: 0.5rem; /* Alt boşluk azaltıldı */
}

p img {
  width: 40px;
  height: 40px;
}
.bg-light {
  background-color: #ffffff !important;
}

.text-light {
  color: #e9ecef !important;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn-primary {
  background-color: #00ac1c !important;
  border: none;
}

.btn-primary:hover {
  background-color: #00ac1c !important;
  transform: scale(1.05);
}

.p-3 {
  background-color: #f8f9fa;
}
